{% extends "base.html" %}

{% block title %}Datos de inter&eacute;s - Gasolineras {% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datosInteres.css') }}">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='js/gasolineras.js') }}"></script>
{% endblock %}

{% block content %}
<div id="mainDiv">

    <div class="col-auto">
        <label for="gasolineras_provincias" class="form-label">Buscar gasolineras 24H de una provincia</label>
    </div>
    <div class="col-auto">
        <input class="form-control" list="lista_provincias_gasolineras" id="gasolineras_provincia"
            placeholder="Escribe una provincia..." name="provincia_seleccionada">
        <datalist id="lista_provincias_gasolineras">
            {%for provincia in provincias%}
            <option value={{provincia}}>
                {%endfor%}
        </datalist>
    </div>
    <div class="col-auto botonBuscar" >
        <button type="submit" class="btn btn-info mb-3" onclick="cargarMapaProvincias()">Buscar</button>
    </div>

    <div class="col-auto">
        <label for="gasolineras_municipio" class="form-label">Buscar gasolineras de un municipio</label>
    </div>
    <div class="col-auto">
        <input class="form-control" list="lista_municipios_gasolineras" id="gasolineras_municipio"
            name="municipio_seleccionado" placeholder="Escribe un municipio...">
        <datalist id="lista_municipios_gasolineras">
            {%for municipio in municipios%}
            <option value="{{municipio}}">
                {%endfor%}
        </datalist>

        <!--<select class="form-select" id="gasolineras_municipio" name="municipio_seleccionado">
            {%for municipio in municipios%}
            <option value="{{municipio}}">{{municipio}}</option>
                {%endfor%}
          </select>-->
    </div>
    <div class="col-auto botonBuscar">
        <button type="submit" class="btn btn-info mb-3" onclick="cargarMapa()">Buscar</button>
    </div>
    <div id="spinner" style="display: none; text-align: center; justify-content: center;">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="map">
    </div>
</div>
{% endblock %}