<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Informacion del vehiculo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vehiculoStyles.css') }}">
</head>


<body>
    <h1 style="text-align: center">Informacion del vehiculo</h1>
    {%if error%}
        <h2>{{error}}</h2>
    {%endif%}
    {%if vehiculo %}
        <table class="table" border="1" style="margin: auto;">
            <thead>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Matricula</th>
                <th>Color</th>
                <th>Plazas</th>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{ vehiculo.marca  }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.matricula}}</td>
                    <td>{{ vehiculo.color}}</td>
                    <td>{{ vehiculo.plazas}}</td>
                </tr>
            </tbody>
        </table>
    {%endif%}
    <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.icons8.com/bubbles/100/000000/user-female.png" alt="" width="100" class="img-fluid rounded mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Hola</h5>
            <span class="small text-muted">Hola</span><br>
            <span class="small text-muted">Hola</span><br>
            <span class="small text-muted">Hola</span><br>

            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><img src="https://img.icons8.com/bubbles/75/000000/edit.png" onclick=""/></li>
                <li class="list-inline-item"><img src="https://img.icons8.com/bubbles/75/000000/delete-sign.png" onclick=""/></li>
            </ul>
        </div>
   </div>

</body>

</html>