{% extends "base.html" %}

{% block title %}Informaci&oacute;n del veh&iacute;culo{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vehiculoStyles.css') }}">
{% endblock %}
{% block content %}
<div id="principal">
  <h1 style="text-align: center">Información del veh&iacute;culo</h1>
  {%if error%}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {%endif%}
  {%if vehiculo %}
  <div id="parteIzquierda">
    <label class="form-label">Marca: </label>
    <input type="text" class="form-control col-xs-3" id="marca" name="marca" value="{{vehiculo.marca}}" readonly></br>

    <label class="form-label">Modelo: </label>
    <input type="text" class="form-control col-xs-3" id="modelo" name="modelo" value="{{vehiculo.modelo}}"
      readonly></br>

    <label class="form-label">Matr&iacute;cula: </label>
    <input type="text" class="form-control col-xs-3" id="matricula" name="matricula" value="{{vehiculo.matricula}}"
      readonly></br>

    <label class="form-label">Color: </label>
    <input type="text" class="form-control col-xs-3" id="color" name="color" value="{{vehiculo.color}}" readonly></br>

    <label class="form-label">Plazas: </label>
    <input type="text" class="form-control col-xs-3" id="plazas" name="plazas" value="{{vehiculo.plazas}}"
      readonly></br>
  </div>

  <div id="parteDerecha">{% if vehiculo.fotos_vehiculo|count > 0 %}
    <label class="form-label">Fotos del veh&iacute;culo: </label>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{vehiculo.fotos_vehiculo[0]}}" class="d-block w-100">
        </div>
        {% for i in range(1,vehiculo.fotos_vehiculo | length) %}
        <div class="carousel-item">
          <img src="{{vehiculo.fotos_vehiculo[i]}}" class="d-block w-100">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {% endif %}
  <br>
</div>

</div>
{%endif%}
{% endblock %}