{% extends "base.html" %}

{% block title %}Creando veh&iacute;culo{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vehiculoStyles.css') }}">
{% endblock %}

{% block content %}

<div id="principal">
    {%if error%}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {%endif%}
    <form action="{{url_for('bpclient.create_vehiculo')}}" method="POST"
        enctype="multipart/form-data">

        <label class="form-label">Marca: </label>
        <input type="text" class="form-control col-xs-3" id="marca" name="marca" required></br>

        <label class="form-label">Modelo: </label>
        <input type="text" class="form-control col-xs-3" id="modelo" name="modelo" required></br>

        <label class="form-label">Matr&iacute;cula: </label>
        <input type="text" class="form-control col-xs-3" id="matricula" name="matricula" required></br>

        <label class="form-label">Color: </label>
        <input type="text" class="form-control col-xs-3" id="color" name="color" required></br>

        <label class="form-label">Plazas: </label>
        <input type="text" class="form-control col-xs-3" id="plazas" name="plazas" required></br>

        <label class="form-label">Fotos del veh&iacute;culo: </label>
        <input type="file" class="form-control col-xs-3" id="fotos_vehiculo" name="fotos_vehiculo" multiple="multiple"
            required></br>
        <div class="col text-center">
            <input class="btn btn-outline-info btn-lg" type="submit" value="Crear">
        </div>

    </form>
</div>
{% endblock %}