<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nuevo vehiculo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>


<body>
    <form action="{{url_for('create_vehiculo')}}" method="POST">
        <label for="marca">Marca:</label><br>
        <input type="text" id="marca" name="marca"><br>
        <label for="modelo">Modelo:</label><br>
        <input type="text" id="modelo" name="modelo"><br>
        <label for="matricula">Matricula:</label><br>
        <input type="text" id="matricula" name="matricula"><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color"><br>
        <label for="plazas">Plazas:</label><br>
        <input type="text" id="plazas" name="plazas"><br>
        <label for="fotos_vehiculo">Fotos del vehiculo:</label><br>
        <input type="text" id="fotos_vehiculo" name="fotos_vehiculo"><br><br>
        <input type="submit" value="Crear">
      </form>
      <br>
    {%if error%}
        <h2>{{error}}</h2>
    {%endif%}
</body>

</html>