{% extends "base.html" %}

{% block title %}Lista de veh&iacute;culos{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vehiculoStyles.css') }}">
{% endblock %}
{% block content %}
<div style="padding: 2% 15%">
    {%if administrador is not none and administrador == 1 %}
    <h1 style="text-align: center">Veh&iacute;culos registrados</h1>
    <br>
    {% set admin = administrador %}
    {%else%}
    <h1 style="text-align: center">Mis veh&iacute;culos</h1>
    <br>
    {% set admin = 0 %}
    {%endif%}

    {%if vehiculos |count >0%}
    <div class="cards">
        {% for vehiculo in vehiculos %}

        <div class="d-flex justify-content-center">
            <div class="row text-center container separarCards">
                <div class="mx-auto">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        {% if vehiculo.fotos_vehiculo | first is not none %}
                        <img src="{{vehiculo.fotos_vehiculo | first}}" alt="" width="100"
                            class="img-fluid mb-3 img-thumbnail shadow-sm">
                        {%else%}
                        <img src="https://img.icons8.com/bubbles/100/000000/car.png" alt="" width="100"
                            class="img-fluid mb-3 img-thumbnail shadow-sm">
                        {%endif%}

                        <h5 class="mb-0">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h5>
                        <span class="small text-muted">Color {{ vehiculo.color}}</span><br>
                        <span class="small text-muted">Matricula {{ vehiculo.matricula}}</span><br>
                        <span class="small text-muted">{{ vehiculo.plazas}} plazas</span><br>

                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/information.png"
                                    onclick="window.location.href='{{ url_for( 'bpclient.get_vehiculo', id = vehiculo._id ) }}';" />
                            </li>
                            <li class="list-inline-item"><img src="https://img.icons8.com/bubbles/75/000000/edit.png"
                                    onclick="window.location.href='{{ url_for( 'bpclient.update_vehiculo', id = vehiculo._id, administrador = admin ) }}';" />
                            </li>
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/delete-sign.png"
                                    onclick="window.location.href='{{ url_for( 'bpclient.delete_vehiculo', id = vehiculo._id, administrador = admin ) }}';" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="btnCrearVehiculo">
        <form action="{{url_for('bpclient.create_vehiculo')}}" method="GET">
            <input class="btn btn-outline-info" type="submit" value="Crear nuevo veh&iacute;culo">
        </form>
    </div>

    {%else%}

    
    <div class="alert alert-danger" role="alert">
        A&uacute;n no tienes veh&iacute;culos
    </div>
    {% endif %}
</div>
{% endblock %}