{% block content %}

<h1 style="text-align: center">Vehiculos</h1>
        {%if vehiculos |count >0%}
        <table class="table" border="1" style="margin: auto;">
            <thead>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matricula</th>
            <th>Color</th>
            <th>Plazas</th>
            </thead>
            
            <tbody>
            {% for i in vehiculos %}
            <tr>
                <td>{{i.marca}}</td>
                <td>{{ i.modelo }}</td>
                <td>{{ i.matricula}}</td>
                <td>{{ i.color}}</td>
                <td>{{ i.plazas}}</td>
                <td><a href="{{ url_for('get_vehiculo', id = i._id) }}"> Informacion del vehiculo </a></td>
                <td><a href="{{ url_for('delete_vehiculo', id = i._id) }}"> Eliminar vehiculo </a></td>
                <td><a href="{{ url_for('update_vehiculo', id = i._id) }}"> Actualizar vehiculo </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {%else%}
        <h2>No hay vehiculos todavia</h2>
    {% endif %}
    <form action="{{url_for('create_vehiculo')}}" method="GET">
        <input type="submit" value="Crear nuevo vehiculo">
    </form>


{% endblock content %}