{% extends "base.html" %}

{% block title %}Actualizar perfil{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarioStyles.css') }}">
{% endblock %}

{% block content %}

<!--<div style="text-align: center;"> -->
{%if fecha_permiso%}
{% set value = fecha_permiso %}
{%else%}
{% set value = '' %}
{%endif%}
{%if usuario.foto_perfil is none%}
{%set picture = '/static/images/perfil-del-usuario.png'%}
{%else%}
{%set picture = usuario.foto_perfil%}
{%endif%}
<h1 style="text-align: center;">{{titulo}}</h1><br>
<div id="principal">
    {%if error%}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {%endif%}
    <form action="{{url_for('bpclient.update_usuario',id=usuario._id)}}" method="POST"
        enctype="multipart/form-data">
        <label class="form-label">Nombre </label>
        <input type="text" class="form-control col-xs-3" id="nombre_completo" name="nombre_completo"
            value="{{ usuario.nombre_completo}}"></br>

        <label class="form-label">DNI </label>
        <input type="text" class="form-control col-xs-3" id="dni" name="dni" value="{{ usuario.dni}}"></br>

        <label class="form-label">Correo electr&oacute;nico </label>
        <input type="email" class="form-control col-xs-3" id="correo" name="correo" value="{{ usuario.correo}}"></br>

        <label class="form-label">Fecha de nacimiento </label>
        <input type="date" class="form-control col-xs-3" id="fecha_nacimiento" name="fecha_nacimiento"
            value="{{fecha_nacimiento}}"></br>

        <label class="form-label">Fecha del permiso </label>
        <input type="date" class="form-control col-xs-3" id="antiguedad_permiso" name="antiguedad_permiso"
            value="{{value}}"></br>

        <label class="form-label">Foto de perfil </label>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{picture}}" width="100" height="100">
                    <input type="file" class="form-control" id="foto_perfil" name="foto_perfil">
                </div>

            </div>
        </div>

        <input type="submit" class="btn btn-outline-info btn-lg" id="botonCentrado" value="Actualizar" />

    </form>
</div>
{% endblock %}