{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block head %} 
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarioStyles.css') }}">
{% endblock %}

{% block content %}


    <h1>Actualizar Usuario</h1><br>

    <form action="{{url_for('bpclient.update_usuario',id=usuario._id)}}" method="POST">
        <label>Nombre: </label>
        <input type="text" name="nombre_completo" value="{{usuario.nombre_completo}}" required><br>
        <label>Correo: </label>
        <input type="text" name="correo" value="{{usuario.correo}}" required><br>
        <label>DNI: </label>
        <input type="text" name="dni" value="{{usuario.dni}}" required><br>
        <label>Fecha: </label>
        <input type="date" name="fecha_nacimiento" value="{{usuario.fecha_nacimiento}}" required><br>
        <label>Antiguedad: </label>
        <input type="date" name="antiguedad_permiso" value="{{usuario.antiguedad_permiso}}"><br>
        <label>Foto: </label>
        <input type="text" name="foto_perfil" value="{{usuario.foto_perfil}}" ><br>
        <input type="submit" value="Actualizar"/>
    </form>

{% endblock %}