<!--

 ESTA PANTALLA NO ES SEGURO QUE SE LLEGUE A UTILIZAR, SEGURAMENTE SE HAGA CON EL OAUTH.



-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Nuevo Usuario
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Nuevo Usuario</h1><br>

    <form action="{{url_for('bpclient.create_usuario')}}" method="POST">
        <label>Nombre: </label>
        <input type="text" name="nombre_completo" required><br>
        <label>Correo: </label>
        <input type="text" name="correo" required><br>
        <label>DNI: </label>
        <input type="text" name="dni" required><br>
        <label>Fecha: </label>
        <input type="date" name="fecha_nacimiento" required><br>
        <label>Antiguedad: </label>
        <input type="date" name="antiguedad_permiso"><br>
        <label>Foto: </label>
        <input type="text" name="foto_perfil" ><br>
        <input type="submit" value="Crear"/>
    </form>

</body>

</html>