{% extends "base.html" %}

{% block title %}Chat del trayecto {% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/conversacion.css') }}">
{% endblock %}

{% block content %}
<div style="padding: 2% 15%">
    <h1 style="text-align: center">Bienvenido al servicio de mensajeria</h1>
    <div>
        <input type="hidden" id="user" value={{session.id}} />
        <input type="hidden" id="trayecto" value={{trayecto}} />
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-md-4" style="width: 100%; height: 100%;">
                        <div class="box box-warning direct-chat direct-chat-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mensajes</h3>
                                <div class="box-tools pull-right"> <span data-toggle="tooltip" title=""
                                        class="badge bg-yellow" data-original-title="3 New Messages"></span> <button
                                        type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i> </button> <button type="button"
                                        class="btn btn-box-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" data-original-title="Contacts"> <i
                                            class="fa fa-comments"></i></button> <button type="button"
                                        class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                    </button> </div>
                            </div>
                            <div class="box-body">
                                <div class="direct-chat-messages">
                                    {%if listaConversaciones | count > 0%}
                                    {% for c in listaConversaciones %}
                                    {%if c.id | string() != session.id %}
                                    <div class="direct-chat-msg">
                                        <div class="direct-chat-info clearfix"> <span
                                                class="direct-chat-name pull-left">{{ c.autor }}</span> <span
                                                class="direct-chat-timestamp pull-right">{{c.fecha}} {{c.hora}}</span>
                                        </div> <img class="direct-chat-img"
                                            src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                            alt="message user image">
                                        <div class="direct-chat-text"> {{ c.texto }} </div>
                                    </div>
                                    {%else%}
                                    <div class="direct-chat-msg right">
                                        <div class="direct-chat-info clearfix"> <span
                                                class="direct-chat-name pull-right">{{ c.autor }}</span> <span
                                                class="direct-chat-timestamp pull-left">{{c.fecha}} {{c.hora}}</span>
                                        </div> <img class="direct-chat-img"
                                            src="https://img.icons8.com/office/36/000000/person-female.png"
                                            alt="message user image">
                                        <div class="direct-chat-text"> {{ c.texto }} </div>
                                    </div>
                                    {%endif%}

                                    {% endfor %}
                                    {%else%}
                                    <div class="direct-chat-msg">
                                        <div class="direct-chat-info clearfix"> <span
                                                class="direct-chat-name pull-left">Administrador</span> <span
                                                class="direct-chat-timestamp pull-right">JUSTO AHORA</span>
                                        </div> <img class="direct-chat-img"
                                            src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                            alt="message user image">
                                        <div class="direct-chat-text"> A&uacute;n no hay mensajes, s&eacute; el primero en mandar uno </div>
                                    </div>
                                    {%endif%}

                                </div>
                            </div>
                            <div class="box-footer">
                                    <div class="input-group"> <input type="text" id="message" name="message"
                                            placeholder="Di algo..." class="form-control"> <span
                                            class="input-group-btn"> 
                                            <button type="button" class="btn btn-warning btn-flat" onclick="postMessage()">Enviar</button> </span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    function postMessage() {
        var messageText = document.getElementById("message").value;

        if(messageText != ""){
        var user = document.getElementById("user").value;
        var trayecto = document.getElementById("trayecto").value;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/app/conversacion/add/message?author=" + user+"&message="+messageText+"&trayecto="+trayecto, true);
        console.log(messageText);
        console.log(user);
        console.log(trayecto);
        xmlhttp.send();
        location.reload();

        }
    }
    
</script>
{% endblock %}