{% extends "base.html" %}

{% block title %}Mis reservas{% endblock %}

{% block head %} 
{{super()}}




<!-- ADAPTAR TODO A LAS CONVERSACIONES -->







<link rel="stylesheet" href="{{ url_for('static', filename='css/conversacion.css') }}">
{% endblock %}

{% block content %}
<div style="padding: 2% 15%">
    <h1 style="text-align: center">Chat del trayecto</h1>

        {% for conversacion in listaConversaciones %}
        <div class="d-flex justify-content-center">
            <div class="row text-center container separarCards">
                <div class="mx-auto">
                    <div  class="bg-white rounded shadow-sm py-5 px-4">
                       
                        <h5 class="mb-0">Origen: {{ trayecto.origen.nombre }} </h5>
                        <h5 class="mb-0">Destino: {{ trayecto.destino.nombre }} </h5>
                        <span class="small text-muted">Duracion {{ trayecto.duracion }}</span><br>
                        <span class="small text-muted">Precio {{ trayecto.precio}}</span><br>
                        <span class="small text-muted">Plazas totales: {{ trayecto.plazas}} </span><br>

                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/information.png"
                                    onclick="window.location.href='{{ url_for('bpclient.get_trayecto', id = trayecto._id ) }}';" />
                            </li>
                            <!--<li class="list-inline-item">
                                <img src="https://img.icons8.com/bubbles/75/000000/star.png"/> De momento no se hace nada al valorar
                            </li>-->
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/delete-sign.png"
                                    onclick="window.location.href='{{ url_for( 'bpclient.delete_pasajero_trayecto', id_trayecto = trayecto._id, id_pasajero = session['id'] ) }}';" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div>

            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="box box-warning direct-chat direct-chat-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Chat Messages</h3>
                                    <div class="box-tools pull-right"> <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 New Messages">20</span> <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts"> <i class="fa fa-comments"></i></button> <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i> </button> </div>
                                </div>
                                <div class="box-body">
                                    <div class="direct-chat-messages">
                                        <div class="direct-chat-msg">
                                            <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                            <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                                        </div>
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                                            <div class="direct-chat-text"> Thank you for your believe in our supports </div>
                                        </div>
                                        <div class="direct-chat-msg">
                                            <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 5:37 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                            <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                                        </div>
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 6:10 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                                            <div class="direct-chat-text"> I would love to. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <form action="#" method="post">
                                        <div class="input-group"> <input type="text" name="message" placeholder="Type Message ..." class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-warning btn-flat">Send</button> </span> </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}