{% extends "base.html" %}

{% block title %}Info trayecto{% endblock %}

{% set disabled = "disabled" if trayecto.pasajeros|length > 0 else "" %}

{% block head %} 
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trayectoStyles.css') }}">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script defer type="text/javascript" src="../../static/js/infoTrayecto.js"></script>
{% endblock %}}

{% block content %}
<h1>Info trayecto</h1><br>

<div id="principal">
    Origen:
    <label for="ogn">Nombre: {{trayecto.origen.nombre}} </label>
    <input type="hidden" id="latOrigen" value="{{trayecto.origen.latitud}}" /><br>
    <input type="hidden" id="lonOrigen" value="{{trayecto.origen.longitud}}" /><br>
    <br>
    Destino:
    <label for="ogn">Nombre: {{trayecto.destino.nombre}} </label>
    <input type="hidden" id="latDestino" value="{{trayecto.destino.latitud}}" /><br>
    <input type="hidden" id="lonDestino" value="{{trayecto.destino.longitud}}" /><br>
    <br>
    <label>Fecha: </label>
    <input type="date" name="fecha" value="{{fecha}}" readonly/><br>
    <label>Hora: </label>
    <input type="time" name="hora" value="{{hora}}" readonly /><br>
    <label>Duraci&oacuten: {{trayecto.duracion}}</label><br>
    <label>Periodicidad: {{trayecto.periodicidad}}</label><br>
    <label>Plazas totales: {{trayecto.plazas_totales}}</label><br>
    <label>Precio: {{trayecto.precio}}</label><br>
    <!-- 
        En la BD vehículo es un object ID, me lo traigo supongo.
        !!!HAY TRAYECTOS CON VEHICULOS QUE NO EXISTEN
        PASAJEROS TAMPOCO!!!
    -->
    <label>Veh&iacuteculo: {{vehiculo.marca}} {{vehiculo.modelo}} - {{vehiculo.matricula}} </label><br>
    <label>Pasajeros: </label>
    <ul>
        {% for p in pasajeros %}
        <li>{{p.nombre_completo}} - {{p.correo}}</li>
        {% endfor %}
    </ul>
    <br>
    <br>
</div>

<div id="map"></div>
    
{% endblock %}