{% extends "base.html" %}

{% block title %}Mis reservas{% endblock %}

{% block head %} 
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trayectoStyles.css') }}">
{% endblock %}

{% block content %}
<div style="padding: 2% 15%">
    <h1 style="text-align: center">Trayectos reservados</h1>
    {%if trayectos | count > 0%}
    <div class="cards" >
        {% for trayecto in trayectos %}
        <div class="d-flex justify-content-center">
            <div class="row text-center container separarCards">
                <div class="mx-auto">
                    <div  class="bg-white rounded shadow-sm py-5 px-4">
                        {% if trayecto.fotos_opcionales | first is not none %}
                        <img src="{{trayecto.fotos_opcionales | first}}" alt="" width="100"
                        class="img-fluid mb-3 img-thumbnail shadow-sm">
                        {%else%}
                        <img src="https://img.icons8.com/bubbles/100/000000/car.png" alt="" width="100"
                            class="img-fluid mb-3 img-thumbnail shadow-sm">
                            {%endif%}

                       <!--
                           Lo de las fotos no funca, lo dejo así de momento-
                        --> 
                        <h5 class="mb-0">Origen: {{ trayecto.origen.nombre }} </h5>
                        <h5 class="mb-0">Destino: {{ trayecto.destino.nombre }} </h5>
                        <span class="small text-muted">Duracion {{ trayecto.duracion }}</span><br>
                        <span class="small text-muted">Precio {{ trayecto.precio}}</span><br>
                        <span class="small text-muted">Plazas totales: {{ trayecto.plazas_totales}} </span><br>

                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/information.png"
                                    onclick="window.location.href='{{ url_for('bpclient.get_trayecto', id = trayecto._id ) }}';" />
                            </li>
                            <!--<li class="list-inline-item">
                                <img src="https://img.icons8.com/bubbles/75/000000/star.png"/> De momento no se hace nada al valorar
                            </li>-->
                            <li class="list-inline-item"><img
                                    src="https://img.icons8.com/bubbles/75/000000/delete-sign.png"
                                    onclick="window.location.href='{{ url_for( 'bpclient.delete_pasajero_trayecto', id_trayecto = trayecto._id, id_pasajero = session['id'] ) }}';" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {%else%}
    <div class="alert alert-danger" role="alert">
        A&uacute;n no has reservado ning&uacute;n trayecto
    </div>
    {%endif%}
</div>
{% endblock %}