<!DOCTYPE html>
<html>

<head>
    TRAYECTO
</head>

<body>
    <form>
        <label for="lUsuario">Usuario:</label><br>
        Usuario: <input type="text" name="origen_nombre"><br>

        <label for="lOrigen">Origen:</label><br>
        Nombre: <input type="text" name="origen_nombre"><br>
        Latitud: <input type="text" name="origen_latitud"><br>
        Longitud: <input type="text" name="origen_longitud"><br>

        <label for="lDestino">Destino:</label><br>
        Nombre: <input type="text" name="destino_nombre"><br>
        Latitud: <input type="text" name="destino_latitud"><br>
        Longitud: <input type="text" name="destino_longitud"><br>

        <label for="lFecha">Fecha:</label><br>
        <input type="date" id="fecha" name="lname">

        <label for="lHora">Hora:</label><br>
        <input type="time" id="hora" name="lname">
    </form>
</body>

</html>