html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    /* ... */
    padding-bottom: 81px; /* El tamaño del footer para evitar el sobreposicionamiento */
}

#footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.labelCampos {
    display: inline-block!important;
    color: #0dcaf0;
    --bs-text-opacity: 1;
    margin-bottom: 0.5rem!important;
    display: inline-block!important;
    font-weight: bolder;
    box-sizing: border-box;
}

#logo {
    width: 100px; 
    height: 75px
}
