{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/inicio.css') }}" rel="stylesheet" type="text/css">

<section class="intro">
  <div class="bg-image h-100" style="
                background-color: #d9eff5;
              ">
    <div class="mask d-flex align-items-center h-100" style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="card">
             
              <div class="card-body p-4">
                <h6 class="text-muted text-uppercase mt-3 mb-4">Busqueda Avanzada</h6>

                <form action="{{url_for('bpclient.get_composedQuery')}}" method="POST"> 

                <div class="row">

                  <div class="col-auto">
                    <strong for="origen" class="labelCampos">Origen</strong>
                    <input type="text" class="form-control" list="lista_municipios_gasolineras" id="origen" name="origen">
                    <datalist id="lista_municipios_gasolineras">
                        {%for municipio in municipios%}
                        <option value={{municipio}}>
                            {%endfor%}
                    </datalist>
                </div>

                  <div class="col-auto">
                    <strong for="destino" class="labelCampos">Destino</strong>
                    <input type="text" class="form-control" list="lista_municipios_gasolineras" id="destino" name="destino">
                    <datalist id="lista_municipios_gasolineras">
                        {%for municipio in municipios%}
                        <option value={{municipio}}>
                            {%endfor%}
                    </datalist>
                </div>

                <div class="col-auto">
                  <strong for="precio" class="labelCampos">Precio</strong>
                  <input type="text" class="form-control" id="precio" name="precio">

              </div>

                </div><!-- Fin de la primera Row-->
              </br></br>

                <div class="row">

                  <div class="col-md-4 mb-3">
                    <div class="md-form md-outline input-with-post-icon datepicker" id="falseY" >
                      <strong for="fecha" class="labelCampos">Fecha</strong>
                      <input type="date" id="fecha" class="form-control" name="fecha">
                      <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <div class="dropdown" style="text-align: center;">
                      <strong for="hora" class="labelCampos">Hora</strong></br>
                      <input type="time" id="hora" name="hora" name="hora">
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <div class="dropdown">
                      <strong for="rango" class="labelCampos">Rango</strong></br>
                      <div class="input-group mb-3">
                        <input type="text" id="rango" class="form-control" aria-describedby="basic-addon2" name="rango">
                        <span class="input-group-text" id="basic-addon2">Km</span>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                  <p class="text-muted mb-0"><span class="text-info"> </span></p>
                  <div>
                    <button type="button" class="btn btn-link text-body" data-mdb-ripple-color="dark">Reset</button>
                    <button type="submit" class="btn btn-info" value="Buscar"></button>
                  </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  $('.datepicker').datepicker({
    ok: '',
    clear: 'Clear selection',
    close: 'Cancel'
  })
</script>

{% endblock %}