{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trayectoStyles.css') }}">
{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/inicio.css') }}" rel="stylesheet" type="text/css">

<section class="intro">
  <div class="bg-image h-100" style="
                background-color: #d9eff5;
              ">
    <div class="mask d-flex align-items-center h-100" style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="card">
             
              <div class="card-body p-4">
                <h6 class="text-muted text-uppercase mt-3 mb-4">Busqueda Avanzada</h6>

                <form action="{{url_for('bpclient.get_composedQuery')}}" method="POST"> 

                <div class="row">

                  <div class="col-auto">
                    <strong for="origen" class="labelCampos">Origen</strong>
                    <input type="text" class="form-control" list="lista_municipios_gasolineras" id="origen" name="origen">
                    <datalist id="lista_municipios_gasolineras">
                        {%for municipio in municipios%}
                        <option value={{municipio}}>
                            {%endfor%}
                    </datalist>
                </div>

                  <div class="col-auto">
                    <strong for="destino" class="labelCampos">Destino</strong>
                    <input type="text" class="form-control" list="lista_municipios_gasolineras" id="destino" name="destino">
                    <datalist id="lista_municipios_gasolineras">
                        {%for municipio in municipios%}
                        <option value={{municipio}}>
                            {%endfor%}
                    </datalist>
                </div>

                <div class="col-auto">
                  <strong for="precio" class="labelCampos">Precio</strong>
                  <input type="text" class="form-control" id="precio" name="precio">

              </div>

                </div><!-- Fin de la primera Row-->
              </br></br>

                <div class="row">

                  <div class="col-md-4 mb-3">
                    <div class="md-form md-outline input-with-post-icon datepicker" id="falseY" >
                      <strong for="fecha" class="labelCampos">Fecha</strong>
                      <input type="date" id="fecha" class="form-control" name="fecha">
                      <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <div class="dropdown" style="text-align: center;">
                      <strong for="hora" class="labelCampos">Hora</strong></br>
                      <input type="time" id="hora" name="hora" name="hora">
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <div class="dropdown">
                      <strong for="rango" class="labelCampos">Rango</strong></br>
                      <div class="input-group mb-3">
                        <input type="text" id="rango" class="form-control" aria-describedby="basic-addon2" name="rango">
                        <span class="input-group-text" id="basic-addon2">Km</span>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                  <p class="text-muted mb-0"><span class="text-info"> </span></p>
                  <div>
                    <button type="button" class="btn btn-link text-body" data-mdb-ripple-color="dark">Reset</button>
                    <button type="submit" class="btn btn-info" >Buscar</button>
                  </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards" >
      {% for trayecto in trayectos %}

      <div class="d-flex justify-content-center">
          <div class="row text-center container separarCards">
              <div class="mx-auto">
                  <div  class="bg-white rounded shadow-sm py-5 px-4">
                      {% if trayecto.fotos_opcionales | first is not none %}
                      <img src="{{trayecto.fotos_opcionales | first}}" alt="" width="100"
                      class="img-fluid mb-3 img-thumbnail shadow-sm">
                      {%else%}
                      <img src="https://img.icons8.com/bubbles/100/000000/car.png" alt="" width="100"
                          class="img-fluid mb-3 img-thumbnail shadow-sm">
                          {%endif%}

                     <!--
                         Lo de las fotos no funca, lo dejo así de momento-
                      --> 
                      <h5 class="mb-0">Origen: {{ trayecto.origen.nombre }} </h5>
                      <h5 class="mb-0">Destino: {{ trayecto.destino.nombre }} </h5>
                      <span class="small text-muted">Duracion {{ trayecto.duracion }}</span><br>
                      <span class="small text-muted">Precio {{ trayecto.precio}}</span><br>
                      <span class="small text-muted">Plazas totales: {{ trayecto.plazas}} </span><br>

                      <ul class="social mb-0 list-inline mt-3">
                          <li class="list-inline-item"><img
                                  src="https://img.icons8.com/bubbles/75/000000/information.png"
                                  onclick="window.location.href='{{ url_for('bpclient.get_trayecto', id = trayecto._id ) }}';" />
                          </li>
                          <li class="list-inline-item"><img
                                  src="https://img.icons8.com/bubbles/75/000000/edit.png"
                                  onclick="window.location.href='{{ url_for( 'bpclient.update_trayecto', id = trayecto._id ) }}';" />
                          </li>
                          <li class="list-inline-item"><img
                                  src="https://img.icons8.com/bubbles/75/000000/delete-sign.png"
                                  onclick="window.location.href='{{ url_for( 'bpclient.delete_trayecto', id = trayecto._id ) }}';" />
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  </div>
</section>

<script>

  $('.datepicker').datepicker({
    ok: '',
    clear: 'Clear selection',
    close: 'Cancel'
  })
</script>

{% endblock %}