{% extends "base.html" %}

{% block title %}Nuevo trayecto{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='css/inicio.css') }}" rel="stylesheet" type="text/css">

    <section class="intro">
        <div class="bg-image h-100" style="
                background-color: #d9eff5;
              ">
          <div class="mask d-flex align-items-center h-100" style="background-color: white;">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                  <div class="card">
                    <div class="card-header">
                      <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg rounded" placeholder="Buscar"
                          aria-label="Buscar" aria-describedby="basic-addon2" />
                        <span class="input-group-text border-0" id="basic-addon2"><i class="fas fa-search"></i> <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></span>
                      </div>
                    </div>
                    <div class="card-body p-4">
                      <h6 class="text-muted text-uppercase mt-3 mb-4">Busqueda Avanzada</h6>
                      <div class="row">
                        
                        <div class="col-md-4 mb-3">
                            <div class="md-form md-outline input-with-post-icon datepicker" id="falseY" >
                                <input placeholder="Select date" type="date" id="buttons-example" class="form-control">
                                <i class="fas fa-calendar input-prefix" tabindex=0></i>
                              </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="dropdown">
                            <a class="btn btn-outline-info btn-lg btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                              data-mdb-toggle="dropdown" aria-expanded="false">
                              Hora
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="dropdown">
                              <a class="btn btn-outline-info btn-lg btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink5"
                                data-mdb-toggle="dropdown" aria-expanded="false">
                                Rango
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>
                          </div>
                      </div>
                      <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="dropdown">
                              <a class="btn btn-outline-info btn-lg btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-mdb-toggle="dropdown" aria-expanded="false">
                                Origen
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>
                          </div>

                        <div class="col-md-4 mb-3">
                          <div class="dropdown">
                            <a class="btn btn-outline-info btn-lg btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink3"
                              data-mdb-toggle="dropdown" aria-expanded="false">
                              Destino
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="dropdown">
                            <a class="btn btn-outline-info btn-lg btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink4"
                              data-mdb-toggle="dropdown" aria-expanded="false">
                             Precio
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                        
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-4">
                        <p class="text-muted mb-0"><span class="text-info"> </span></p>
                        <div>
                          <button type="button" class="btn btn-link text-body" data-mdb-ripple-color="dark">Reset</button>
                          <button type="button" class="btn btn-info">Buscar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>

$('.datepicker').datepicker({
ok: '',
clear: 'Clear selection',
close: 'Cancel'
})
      </script>

{% endblock %}